Quik Links

<a [routerLink]="['/about']" class="button fancy-button">Returns</a>
<a [routerLink]="['/free']" class="button fancy-button">Shipping</a>
<a [routerLink]="['/about']" class="button fancy-button">Terms and conditions</a>
<a [routerLink]="['/dude']" class="button fancy-button">Privacy Policy<i class="material-icons">copyright</i>2020 SuDuh Lux South Africa</a>

Follow Up

<table class="center" style="width:100%">
  <tr>
<!--<td><a [routerLink]="['/about']">About us</a></td>-->

<!--<td><label for="Search">Search</label></td><td><input id="Search" type="text" formControlName="Search" height="32" width="32"></td>-->
 
  <td><a href="https://twitter.com/EswatiniProp"><img src="https://raw.githubusercontent.com/phiwesriva/angular-mn8emkeswatinipro-acbvwb/master/src/assets/twitter.png" height="32" width="32"></a></td>

<td><a href="https://www.facebook.com/EswatiniPropertyReview/"><img src="https://raw.githubusercontent.com/phiwesriva/angular-mn8emkeswatinipro-acbvwb/master/src/assets/facebook.png" height="32" width="32"></a></td>

<td><a href="https://www.youtube.com/channel/UCa2IAo3HbSkD5G25ZQ01csQ/videos?disable_polymer=1"><img src="https://raw.githubusercontent.com/phiwesriva/angular-mn8emkeswatinipro-acbvwb/master/src/assets/Youtube.jpeg" height="32" width="32"></a></td>

<td><a href="https://www.instagram.com/eswatinipropertyreview/?hl=en"><img src="https://raw.githubusercontent.com/phiwesriva/angular-mn8emkeswatinipro-acbvwb/master/src/assets/insta2.png" height="32" width="32"></a>
</td>
</tr>
</table>