<a class="button fancy-button"><i class="material-icons">menu</i></a>
<td><a [routerLink]="['/news']"><img src= "https://raw.githubusercontent.com/phiwesriva/angular-mn8emkeswatinipro-js8vbx/master/src/assets/logo.JPG"></a></td>
<a class="button fancy-button"><i class="material-icons">search</i></a>
<a class="button fancy-button"><i class="material-icons">shopping_cart</i></a>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->